@import '~bootstrap/scss/bootstrap';

hr {
  height: 1px;
  border: none;
  border-top: 1px #000000 solid;
}

body {
      background-image: url("/images/bg.gif");
}

table {
  width: 100%;
  table-layout: fixed;
}

table td {
  /*word-break: break-all;*/
  overflow-wrap : break-word;
}
